# Composer files
composer.phar
vendor/

# Local configs
Db.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

#Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/

# Legacy ZF1
demos/
extras/documentation

# Software
Sessions/*
www/images/*
Dados/*

# Modules
CDN/node_modules/*
CDN/package-lock.json
Discord/node_modules/*
www/node_modules/*
composer.lock

www/package-lock.json
